.nav-wrapper {
    height: 60px;
    background: #393939;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-left {
    display: flex;
    height: 60px;
}
.nav-link {
    height: 60px;
    width: 100px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.nav-link a {
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
}
.nav-link a:hover {
    font-size: 30px;
}
