.nav-wrapper {
    height: 60px;
    background: #393939;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width: 751px) and (max-width: 1115px) {
    .nav-wrapper {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}
.nav-left {
    display: flex;
    height: 60px;
}
.nav-right {
    display: flex;
}
.nav-link {
    height: 60px;
    width: 100px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.nav-link a {
    font-family: "Avant Garde", "Avantgarde", "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}
.nav-link a:hover {
    font-size: 25px;
}

.mobile-menu-btn {
    width: 25px;
    height: 25px;
    position: relative;
    border: none;
    background: none;
    display: none;
    margin-right: 10px;
}

.mobile-menu-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: black;
    transition: 0.4s;
}

.mobile-menu-btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: black;
    transition: 0.4s;
}

.mobile-menu-btn span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    height: 3px;
    background-color: black;
}
@media (min-width: 751px) and (max-width: 1115px) {
    .nav-wrapper {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media (max-width: 750px) {
    #nav {
        display: none;
        animation: openMenu 0.5s linear;
    }
    .mobile-menu-btn {
        display: block;
    }
    .nav-left.mobile-active {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
    }
    #nav.mobile-active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #393939;
        opacity: 0.95;
    }
    .nav-link:not(:last-child) {
        margin: 0px;
    }
    .mobile-menu-btn.mobile-active::before {
        transform: rotate(45deg);
        top: 45%;
    }
    .mobile-menu-btn.mobile-active::after {
        transform: rotate(-45deg);
        bottom: 45%;
    }
    .mobile-menu-btn.mobile-active span {
        display: none;
    }
}
@keyframes openMenu {
    0% {
        transform: translateX(70%) scaleX(0);
    }
    100% {
        transform: translateX(0) scaleX(100%);
    }
}
