.folded-news-summary {
    font-family: "Avant Garde", "Avantgarde", "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #979797;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 15px 23px 5px;
}
