.folded-news-published p {
    font-family: "Avant Garde", "Avantgarde", "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-right: 23px;
    color: #413f3f;
}
