.main-news-title {
    font-family: "Avant Garde", "Avantgarde", "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #4f4f4f;
    margin: 30px 33px;
}
