.main-news-published p {
    font-family: "Avant Garde", "Avantgarde", "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    margin-left: 83px;
    color: #4f4f4f;
}
