.folded-article-wrapper {
    width: 450px;
    height: 400px;
    background: #ffffff;
    border: 2px solid #b1a9a9;
    box-sizing: border-box;
    box-shadow: 0px 6px 50px rgba(201, 193, 193, 0.15);
    border-radius: 13px;
    text-decoration: none;
    margin: 20px 0;
}
.folded-article {
    display: flex;
    justify-content: space-between;
    /* margin-top: 16px; */
}
