.app {
  max-width: 100%;
  margin: 40px 135px;
  text-decoration: none;
}
.logo-wrapper {
  margin-bottom: 39px;
}
.app-header {
  display: flex;
  justify-content: space-between;
}
.header-login {
  display: flex;
  align-items: center;
}

.main-block-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  margin-top: 25px;
}

.folded-article-for-link {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-between;
}

.header-block-for-news a {
  text-decoration: none;
}
.folded-article-for-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-pagination-on-article-page {
  display: flex;
  justify-content: space-between;
}
